.bord {
  border: 1px solid red;
}

.bordb {
  border: 1px solid blue;
}

.bordg {
  border: 1px solid green;
}

.custom-card {
  background-color: white;
  border-radius: 5px;
}

.slide-image {
  width: 250px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin: 1.5rem;
  margin-left: 0;
}

.font-bold {
  font-weight: bold !important;
}
